# Activar RewriteEngine
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^login  /views/login.php [L]
RewriteRule ^login  ?p=login [L]
RewriteRule ^logout  ?p=logout [L]
RewriteRule ^suppliers/create/  /suppliers/create.php [L]
RewriteRule ^suppliers/view/  /suppliers/view.php [L]
RewriteRule ^suppliers/edit/ /suppliers/edit.php [L]
RewriteRule ^suppliers/  ?p=suppliers [L]
RewriteRule ^bills/create/  /bills/create.php [L]
RewriteRule ^bills/view/  /bills/view.php [L]
RewriteRule ^bills/edit/ /bills/edit.php [L]
RewriteRule ^bills/  ?p=bills [L]
RewriteRule ^articles/create/  /articles/create.php [L]
RewriteRule ^articles/view/  /articles/view.php [L]
RewriteRule ^articles/edit/ /articles/edit.php [L]
RewriteRule ^articles/  ?p=articles [L]
RewriteRule ^laboratories/create/  /laboratories/create.php [L]
RewriteRule ^laboratories/view/  /laboratories/view.php [L]
RewriteRule ^laboratories/edit/ /laboratories/edit.php [L]
RewriteRule ^laboratories/  ?p=laboratories [L]
RewriteRule ^presentations/create/  /presentations/create.php [L]
RewriteRule ^presentations/view/  /presentations/view.php [L]
RewriteRule ^presentations/edit/ /presentations/edit.php [L]
RewriteRule ^presentations/  ?p=presentations [L]
RewriteRule ^sales/create/  /sales/create.php [L]
RewriteRule ^sales/view/  /sales/view.php [L]
RewriteRule ^sales/edit/ /sales/edit.php [L]
RewriteRule ^sales/  ?p=sales [L]
RewriteRule ^purchases/create/  /purchases/create.php [L]
RewriteRule ^purchases/view/  /purchases/view.php [L]
RewriteRule ^purchases/edit/ /purchases/edit.php [L]
RewriteRule ^purchases/  ?p=purchases [L]
RewriteRule ^users/create/  /users/create.php [L]
RewriteRule ^users/view/  /users/view.php [L]
RewriteRule ^users/edit/ /users/edit.php [L]
RewriteRule ^users/  ?p=users [L]
RewriteRule ^audit/  ?p=audit [L]
ErrorDocument 404 /views/layouts/error404.php
